body {
    background-color: lightblue;
}

#result{
    position: absolute;

}

.node{
    background-color: cyan;
    height: 150px;
    width: 150px;
    border-radius: 0%;

    border: 3px solid black;
    position: absolute;
    z-index: 2;
    
}

.node>ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid green;
    height: 100%;
}

.node>ul>li{
    text-align: left;
}

.nodeItem{
    
    


}

svg{
    position: absolute;

}

line{

}