body {
    background-color: lightblue;
}

#result{
    width: 100%;
}

.node{
    background-color: cyan;
    height: 200px;
    width: 200px;
    border-radius: 50%;

    border: 3px solid black;
    position: absolute;
    
}

.node>ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid green;
    height: 100%;
}

.node>ul>li{
    text-align: center;
}

.nodeItem{
    
    
    border: 1px solid red;

}